[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt
[submodule "build"]
	path = build
	url = https://github.com/Noituri/gn-build
[submodule "third_party/raylib-cpp"]
	path = third_party/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp
